:root {
    --text-color: #ebe4e4;
    --link-color: #e48d0c;
    --highlight-color: #9e50c2;
    --background-color: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family, "JetBrains Mono", monospace);
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.jetbrains-mono-default {
  --font-family: "JetBrains Mono", monospace;
  --font-optical-sizing: auto;
  --font-weight: 400;
  --font-style: normal;
}

.jetbrains-mono-bold {
  --font-family: "JetBrains Mono", monospace;
  --font-optical-sizing: auto;
  --font-weight: 600;
  --font-style: normal;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 150px;
    margin: 0% 10%;
}

nav .left a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

nav .left a i {
    transition: ease-in-out 0.3s;
}

nav .left a:hover i{
    color: var(--link-color);
}

nav .right a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--link-color);
    padding: 5px 15px;
    border-radius: 2px;
    transition: ease-in-out 0.3s;
}

nav .right a:last-child:hover {
    color: var(--link-color);
    background-color: var(--background-color);
}

nav .right a:last-child i {
    color: #1a1a1a;
    transition: ease-in-out 0.3s;
}

nav .right a:last-child:hover i {
    color: #e48d0c;
}

/* MAIN SECTION */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    margin: 10% 10%;
    margin-bottom: 100px;

    gap: 40px;
}

.main-section .text {
    flex: 4;
    text-align: justify;
    font-weight: 400;
}

.main-section .text h2 {
    text-align: right;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}

.main-section .text a.name {
    padding: 0px 4px;
    color: var(--background-color);
    background-color: var(--link-color);
}

.main-section .text p {
    text-align: justify;
    font-size: 16px;
}

.main-section .text .links {
    margin-top: 25px;
    text-align: right;
}

.main-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: ease-in-out 0.3s;
}

.main-section .text .links a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
}

.main-section .headshot {
    flex: 3;
    display: flex;
    justify-content: right;
}

.main-section .headshot img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

/* HAB SECTION */
.skills-section {
    padding: 0 50px;
    margin: 10% 10%;
    margin-bottom: 100px;
}

.skills-section .title-hab {
    background-color: var(--link-color);
    color: var(--background-color);
}

.skills-section .title-hab h2 {
    text-align: right;
    font-size: 24px;
    padding: 5px 10px;
}

.skills-section .containers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-section .containers .container {
    display: inline-block;
    margin-top: 10px;
    width: 30%;
    border: 2px solid var(--link-color);
    padding: 0px 10px;
    margin-bottom: 50px;
    transition: ease-in-out 0.3s;
}

.skills-section .containers .container:hover {
    border: 2px solid var(--highlight-color);
    border-left: 6px solid var(--highlight-color);
    border-bottom: 6px solid var(--highlight-color);
}

.skills-section .containers .container h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-section .containers .container p {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0px 20px;
}


@media (max-width: 1140px) {
    /* NAVBAR MOBILE */
    nav {
        padding: 0px 20px;
        height: 100px;
        margin: 0% 5%;
    }

    nav .right a {
        font-size: 20px;
    }

    nav .right a:last-child {
        color: var(--link-color);
        background-color: var(--background-color);
        padding: 0px;
    }

    nav .right a:last-child i {
        color: #e48d0c;
    }

    nav .right a span {
        display: none;
    }

    /* MAIN SECTION MOBILE */
    .main-section {
        flex-direction: column-reverse;
        text-align: center;
        margin: 5% 0%;
    }

    .main-section .text h2 {
        text-align: justify;
        font-size: 20px;
    }

    .main-section .text .links {
    margin-top: 14px;
    text-align: center;
    }

    .main-section .headshot img {
        width: 350px;
        height: 350px;
        border-radius: 5px;
    }

    /* HAB SECTION */
    .skills-section {
        margin: 5% 0%;
    }

    .skills-section .containers {
        flex-direction: column;
        align-items: center;

    }

    .skills-section .containers .container {
        width: 90%;
        margin-bottom: 10px;
    }
}

@media (max-width: 560px) {
    /* NAVBAR MOBILE */
    nav .left a {
        font-size: 18px;
    }

    nav .right a {
        font-size: 18px;
    }

    /* MAIN SECTION MOBILE */
    .main-section .text h2 {
        text-align: justify;
        font-size: 18px;
    }
}