:root {
    --text-color: #ebe4e4;
    --link-color: #e48d0c;
    --highlight-color: #9e50c2;
    --background-color: #1a1a1a;
    --darken-bg: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family, "JetBrains Mono", monospace);
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.jetbrains-mono-default {
  --font-family: "JetBrains Mono", monospace;
  --font-optical-sizing: auto;
  --font-weight: 400;
  --font-style: normal;
}

.jetbrains-mono-bold {
  --font-family: "JetBrains Mono", monospace;
  --font-optical-sizing: auto;
  --font-weight: 600;
  --font-style: normal;
}

/* GLOBAL SETTINGS  */

.section {
    margin: 0% 10% 100px 10%;
    padding: 0 50px;
}

.title {
    background-color: var(--link-color);
    color: var(--background-color);
}

.title h2 {
    padding: 5px 10px;
    font-size: 24px;
}

.divider {
    display: flex;
    margin-left: 15%;
    width: 70%;
    border: 1px solid var(--link-color);
    margin-bottom: 50px;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 150px;
}

nav .left a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

nav .left a i {
    transition: ease-in-out 0.3s;
}

nav .left a:hover i{
    color: var(--link-color);
}

nav .right a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--link-color);
    padding: 5px 15px;
    border-radius: 2px;
    transition: ease-in-out 0.3s;
}

nav .right a:last-child:hover {
    color: var(--link-color);
    background-color: var(--background-color);
}

nav .right a:last-child i {
    color: var(--background-color);
    transition: ease-in-out 0.3s;
}

nav .right a:last-child:hover i {
    color: var(--link-color);
}

/* MAIN SECTION */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 40px;
}

.main-section .text {
    flex: 4;
    text-align: justify;
    font-weight: 400;
}

.main-section .text h2 {
    text-align: right;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}

.main-section .text a.name {
    padding: 0px 4px;
    color: var(--background-color);
    background-color: var(--link-color);
}

.main-section .text p {
    text-align: justify;
    font-size: 16px;
}

.main-section .text .links {
    margin-top: 25px;
    text-align: right;
}

.main-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: ease-in-out 0.3s;
}

.main-section .text .links a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
}

.main-section .headshot {
    flex: 3;
    display: flex;
    justify-content: right;
}

.main-section .headshot img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: #00000093 0px 0px 10px 0px;
}

/* HAB SECTION */
.skills-section .title h2 {
    text-align: right;
}

.skills-section .containers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-section .containers .container {
    display: inline-block;
    margin-top: 10px;
    width: 30%;
    border: 2px solid var(--link-color);
    padding: 0px 10px;
    transition: ease-in-out 0.3s;
}

.skills-section .containers .container:hover {
    border: 2px solid var(--highlight-color);
    border-left: 6px solid var(--highlight-color);
    border-bottom: 6px solid var(--highlight-color);
    box-shadow: #9115a193 0px 0px 10px 0px;
}

.skills-section .containers .container h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-section .containers .container p {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.skills-section .containers .container .topics {
    margin-bottom: 50px;
}

/* PROJECT SECTION */
.projects-section .containers {
    display: flex;
    flex-direction: column;
}

.projects-section .container {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 5% auto;
    width: 95%;
    margin-top: 10px;
    gap: 20px;
}

.projects-section .containers .container .project {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.projects-section .container .project img {
    width: 40%;
    height: auto;
}

.projects-section .sub-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.projects-section .sub-container a {
    font-size: 22px;
    margin-bottom: 10px;
}

.projects-section .sub-container p {
    text-align: justify;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.projects-section .sub-container span {
    margin-top: auto;
    display: block;             
    font-style: italic;    
    font-size: 10px;       
    opacity: 0.8;          
}

.projects-section .news-section {
    display: flex;
    flex-direction: column;
}

.projects-section .news-section .news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-section .new-item {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.projects-section .new-item a {
    font-size: 16px;
}

.projects-section .new-item p {
    font-size: 14px;
}

.projects-section .new-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: var(--darken-bg);
    text-align: center;
    padding: 20px;
    font-size: 11px;
    color: var(--text-color);
}


@media (max-width: 1140px) {
    .section {
    margin: 5% 0% 50px;
    }

    /* NAVBAR MOBILE */
    nav {
        padding: 0px 20px;
        height: 100px;
    }

    nav .right a {
        font-size: 20px;
    }

    nav .right a:last-child {
        color: var(--link-color);
        background-color: var(--background-color);
        padding: 0px;
    }

    nav .right a:last-child i {
        color: #e48d0c;
    }

    nav .right a span {
        display: none;
    }

    /* MAIN SECTION MOBILE */
    .main-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-section .text h2 {
        text-align: justify;
        font-size: 20px;
    }

    .main-section .text .links {
    margin-top: 14px;
    text-align: center;
    }

    .main-section .headshot img {
        width: 350px;
        height: 350px;
        border-radius: 5px;
    }

    /* HAB SECTION */
    .skills-section .containers {
        flex-direction: column;
        align-items: center;

    }

    .skills-section .containers .container {
        width: 90%;
        margin-bottom: 10px;
    }

    /* PROJECT SECTION */
    .projects-section .containers .container .project {
        flex-direction: column;
    }

    .projects-section .containers .container .alt{
        flex-direction: column-reverse;
    }

    .projects-section .containers .container .project img {
        width: auto;
    }

    .projects-section .containers .container .news-section .news {
        flex-direction: column;
        width: 100%;
    }

    .projects-section .new-item {
        width: auto;
        height: auto;
    }

    .projects-section .new-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}


@media (max-width: 560px) {
    /* NAVBAR MOBILE */
    nav .left a {
        font-size: 18px;
    }

    nav .right a {
        font-size: 18px;
    }

    /* MAIN SECTION MOBILE */
    .main-section .text h2 {
        text-align: justify;
        font-size: 18px;
    }
}