:root {
    --text-color: #eff1f3;
    --link-color: #427aa1;
    --highlight-color: #f6ae2d;
    --highlight-effect: #f1ae30;
    --background-color: #1a1a1a;
    --darken-bg: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family, "JetBrains Mono", monospace);
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.jetbrains-mono-default {
  --font-family: "JetBrains Mono", monospace;
  --font-optical-sizing: auto;
  --font-weight: 400;
  --font-style: normal;
}

.jetbrains-mono-bold {
  --font-family: "JetBrains Mono", monospace;
  --font-optical-sizing: auto;
  --font-weight: 600;
  --font-style: normal;
}

/* GLOBAL SETTINGS  */

.section {
    margin: 0% 10% 100px 10%;
    padding: 0 50px;
}

.icon {
    color: var(--link-color);
}

.title {
    background-color: var(--link-color);
    color: var(--background-color);
}

.title h2 {
    padding: 5px 10px;
    font-size: 24px;
}

.divider {
    display: flex;
    margin-left: 15%;
    width: 70%;
    border: 1px solid var(--link-color);
    margin-bottom: 40px;
}

/* NAVBAR */

.section .left .menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 150px;
}

nav .left a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

nav .left a i {
    transition: ease-in-out 0.3s;
}

nav .left a:hover i{
    color: var(--link-color);
}

nav .right a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--link-color);
    padding: 5px 15px;
    border-radius: 2px;
    transition: ease-in-out 0.3s;
}

nav .right a:last-child:hover {
    color: var(--link-color);
    background-color: var(--background-color);
}

nav .right a:last-child i {
    color: var(--background-color);
    transition: ease-in-out 0.3s;
}

nav .right a:last-child:hover i {
    color: var(--link-color);
}

/* MAIN SECTION */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 40px;
}

.main-section .text {
    flex: 4;
    text-align: center;
    font-weight: 400;
}

.main-section .text h2 {
    text-align: right;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.main-section .text a.name {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 4px;
    color: var(--background-color);
    background-color: var(--link-color);
}

.main-section .text .links {
    margin-top: 25px;
    text-align: right;
}

.main-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: ease-in-out 0.3s;
}

.main-section .text .links a:hover {
    background-color: var(--link-color);
    color: var(--background-color);
}

.main-section .headshot {
    flex: 3;
    display: flex;
    justify-content: right;
}

.main-section .headshot img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: #00000093 0px 0px 10px 0px;
}

/* HAB SECTION */
.skills-section .title h2 {
    text-align: left;
}

.skills-section .containers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-section .containers .container {
    display: inline-block;
    margin-top: 10px;
    width: 30%;
    border: 2px solid var(--link-color);
    padding: 0px 10px;
    transition: ease-in-out 0.3s;
}

.skills-section .containers .container:hover {
    border: 2px solid var(--highlight-color);
    border-left: 6px solid var(--highlight-color);
    border-bottom: 6px solid var(--highlight-color);
    box-shadow: var(--highlight-effect) 0px 0px 10px 0px;
}

.skills-section .containers .container h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-section .containers .container p {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.skills-section .containers .container .topics {
    margin-bottom: 50px;
}

/* PROJECT SECTION */
.projects-section .containers {
    display: flex;
    flex-direction: column;
}

.projects-section .container {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
    margin-top: 10px;
    gap: 10px;
}

.projects-section .containers .container .project {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.projects-section .container .project img {
    width: 40%;
    height: auto;
}

.projects-section .sub-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.projects-section .sub-container a {
    font-size: 22px;
    margin-bottom: 10px;
}

.projects-section .sub-container p {
    text-align: justify;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.projects-section .sub-container span {
    margin-top: auto;
    display: block;             
    font-style: italic;    
    font-size: 10px;       
    opacity: 0.8;          
}

.projects-section .news-section {
    display: flex;
    flex-direction: column;
}

.projects-section .news-section .title {
    padding: 0px 10px;
}

.projects-section .news-section .news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-section .new-item {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.projects-section .new-item a {
    font-size: 16px;
}

.projects-section .new-item p {
    font-size: 14px;
}

.projects-section .new-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* CONTACT SECTION */

.contact-section .call-to-act {
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10%;
}

.contact-section .cta-img {
    width: 500px;
    height: 500px;
}

.contact-section .cta-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.contact-section .cta-title {
    font-size: 20px;
    margin-top: 10%;
    flex-wrap: wrap;
}

.contact-section .forms {
    max-width: 420px; 
    margin: 5% auto;
}

.feedback-input {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid var(--link-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border:2px solid var(--highlight-color);
    box-shadow: var(--highlight-effect) 0px 0px 10px 0px;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: var(--font-family);
  width: 100%;
  background:var(--link-color);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: var(--text-color);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:600;
}

[type="submit"]:hover { 
    background: var(--highlight-color);
    box-shadow: var(--highlight-effect) 0px 0px 10px 0px; 
}

/* FOOTER */

footer {
    height: 100px;
    background-image: url('images/bannerCrop.png');
    background-color: rgba(18, 18, 18, 0.6);
    background-blend-mode: multiply;
    text-align: center;
    padding: 40px;
    font-size: 11px;
    color: var(--text-color);
}

@media (max-width: 1140px) {

    * {
        overflow-x: hidden;
    }

    .nav-dots {
        opacity: 0;
    }

    .spinning-text p {
        text-align: center;
        font-size: 20px;
    }

    .section {
    margin: 5% 0% 50px;
    }

    /* NAVBAR MOBILE */

    nav {
        padding: 0px 20px;
        height: 100px;
        flex-direction: column;
        transition: 0.5s ease-in-out;
        background-color: var(--darken-bg);
    }

    nav .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10%;
    }

    nav .left i {
        font-size: 22px;
    }

    .section .left .menu {
        display: flex;
    }

    nav .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-top: 10%;
        text-align: right;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    nav .right a {
        margin: 15px 0px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: var(--darken-bg);
        padding: 0px;
        margin: 15px 0px;
    }

    nav .right a:last-child i {
        color: var(--link-color);
    }

    nav:has(#hamburgerMenu:checked) .right {
        max-height: 500px;
    }

    body:has(#hamburgerMenu:checked) nav {
        height: 300px;
        border-bottom: 2px solid var(--link-color);
    }

    /* MAIN SECTION MOBILE */
    .main-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-section .text {
        text-align: center;
        font-size: 22px;
    }

    .main-section .text h2 {
        text-align: center;
        font-size: 22px;
    }

    .main-section .text .links {
        margin-top: 14px;
        text-align: center;
    }

    .main-section .headshot img {
        width: 350px;
        height: 350px;
        border-radius: 5px;
    }

    /* HAB SECTION */
    .skills-section .containers {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .skills-section .containers .container {
        width: 90%;
        margin-bottom: 10px;
        text-align: left;
    }

    .skills-section .containers .container p {
        text-align: left;
    }

    /* PROJECT SECTION */
    .projects-section .containers .container .project {
        flex-direction: column;
    }

    .projects-section .containers .container .alt{
        flex-direction: column-reverse;
    }

    .projects-section .containers .container .project img {
        width: auto;
    }

    .projects-section .containers .container .news-section .news {
        flex-direction: column;
        width: 100%;
    }

    .projects-section .new-item {
        width: auto;
        height: auto;
    }

    .projects-section .new-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    /* CONTACT ME SECTION */

    .contact-section .call-to-act {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .contact-section .call-to-act .cta-img {
        height: 150px;
        width: 100%;
    }

    .contact-section .cta-title {
        margin-top: 10%;
    }
}


@media (max-width: 560px) {
    /* NAVBAR MOBILE */
    nav .left a {
        font-size: 18px;
    }

    nav .right a {
        font-size: 18px;
    }

    /* MAIN SECTION MOBILE */
    .main-section .text {
        text-align: center;
        font-size: 20px;
    }

    .main-section .text h2 {
        text-align: center;
        font-size: 20px;
    }
}

/* ANIMATIONS */

.typing {
    border-right: 5px solid var(--text-color);
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(13) infinite, blink-caret 1s steps(1, end) infinite;
}

@keyframes typing {
  0%   { width: 0 }
  40%  { width: 13ch }
  80%  { width: 13ch }
  100% { width: 0 }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--text-color); }
    100% { border-color: transparent; }
}

.spinning-text {
    text-align: right;
    border: 0px solid var(--text-color);
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.spinning-text p {
    position: relative;
    color: var(--highlight-color);
    animation: spin 8s ease infinite;
}

@keyframes spin {
    0%   { top: 0; }
    25%  { top: -50px; }
    50%  { top: -100px; }
    75%  { top: -150px; }
    100% { top: 0; }
}

.nav-dots {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.nav-dot {
  width: 12px;
  height: 12px;
  border: 1px solid var(--highlight-effect);
  border-radius: 50%;
  list-style: none;
  background: var(--highlight-color);
  transition: all 0.3s;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &:hover,
  &.is-active {
    transform: scale(1.8);
    border: 1px solid var(--link-color);
    background: var(--link-color);
    box-shadow: var(--link-color) 0px 0px 10px 0px;
  }
}

#hamburgerMenu {
    display: none;
}

nav .menu {
    display: none;
}